/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

/* HEADER */
header {
  margin: 0 auto;
  height: 120px;
  width: 100%;
  display: flex;
}

/* navbar */
nav {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: white;
}
.cont-logo {
  height: 90px;
  width: 20%;
}

.cont-logo img {
  width: 80px;
}

nav ul {
  height: 90px;
  width: 80%;
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}

nav ul a {
  color: black;
}

/* MAIN */
.comics-section {
  background-color: #1c1c1c;
  padding-top: 50px;
}

.rows-for-comics {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.rows-for-comics p {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.comics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.comic-card {
  width: 180px;
  color: white;
  text-transform: uppercase;
}

.comic-card h3 {
  font-size: 14px;
  margin-top: 16px;
}

.comic-card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.blue-bar {
  background-color: #0282f9;
}

.blue-bar-space {
  width: 80%;
  margin: 0 auto;
  height: 130px;
  display: flex;
  align-items: center;
}

.blue-bar-space a {
  color: white;
}

.blue-bar-space ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.blue-bar-space img {
  height: 55px;
}

/* FOOTER */
/* upper part */
.upper-part-footer {
  height: 370px;
  background-image: url("/footer-bg.jpg");
}

.cols-and-big-logo-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.columns {
  height: 370px;
  background-color: rgb(175, 245, 221);
  width: 30%;
  display: flex;
}

.col {
  background-color: red;
  border: 1px solid white;
  width: 100%;
  height: 370px;
}

.big-logo {
  height: 370px;
  width: 70%;
}

/* lower part */
.lower-part-footer {
  height: 100px;
  background-color: #1c1c1c;
  position: relative;
  z-index: 999;
}

/* _____________________________________ */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
